body {

    background-color: #B3E5FC;
    border-radius: 10px;

}


.card {
    /*width: 400px;*/
    border: none;
    border-radius: 10px;

    background-color: #fff;
}


.stats {

    background: #f2f5f8 !important;

    color: #000 !important;
}

.articles {
    font-size: 10px;
    color: #a1aab9;
}

.number1 {
    font-weight: 500;
}

.followers {
    font-size: 10px;
    color: #a1aab9;

}

.number2 {
    font-weight: 500;
}

.rating {
    font-size: 10px;
    color: #a1aab9;
}

.number3 {
    font-weight: 500;
}

ul ul {
    display: none;
}

/* Show nested lists when parent is hovered */
ul li:hover > ul {
    display: block;
}

/* Apply a color change after clicking */
.page-link {
    transition: color 0.3s;
}

/*.page-link:hover {*/
/*    color: #469f15; !* Change to the desired color *!*/
/*}*/

/* Highlight the current page */
/*.page-item.active .page-link {*/
/*    background-color: #b0f669; !* Change to the desired highlight color *!*/
/*}*/