{% load static %}
{% load department_menu %}

{#<div class="container-fluid">#}
{#    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">#}
{#        <div class="container-fluid">#}
{#            <form class="d-flex">#}
{#                <input class="form-control me-2" type="search" placeholder="Поиск сотрудников" aria-label="Search">#}
{#                <button class="btn btn-outline-success" type="submit">Поиск</button>#}
{#            </form>#}
{#            <div class="dropdown me-4 mt-auto">#}
{#                <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"#}
{#                   id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">#}
{#                    <img src="{{ profile.image.url }}" alt="employee" width="30" height="30"#}
{#                         class="rounded-circle">#}
{#                    <span class="d-none d-sm-inline mx-1">{{ profile.name }}</span>#}
{#                </a>#}
{#                <ul class="dropdown-menu dropdown-menu-dark text-small shadow">#}
{#                    <li><a class="dropdown-item" href="{% url 'user:edit-profile' %}">Настройки</a></li>#}
{#                    <li><a class="dropdown-item" href="{% url 'user:profile' %}">Профиль</a></li>#}
{#                    <li>#}
{#                        <hr class="dropdown-divider">#}
{#                    </li>#}
{#                    <li><a class="dropdown-item" href="{% url 'user:logout' %}">Выйти</a></li>#}
{#                </ul>#}
{#            </div>#}
{#        </div>#}
{#    </nav>#}
{#    <div class="row flex-nowrap">#}
{#        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">#}
{#            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">#}
{#                <!-- Заголовок меню -->#}
{#                <a href="{% url 'company:home' %}"#}
{#                   class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">#}
{#                    <span class="fs-5 d-none d-sm-inline">СервисПроект</span>#}
{#                </a>#}
{#                <!-- элементы меню -->#}
{#                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">#}
{#                    <li class="nav-item">#}
{#                        <a href="#" class="nav-link align-middle px-0">#}
{#                            <i class="fs-4 bi-house"></i>#}
{#                            <span class="ms-1 d-none d-sm-inline">Главная</span>#}
{#                        </a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="#" class="nav-link px-0 align-middle">#}
{#                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Все Сотрудники</span>#}
{#                        </a>#}
{#                    </li>#}
{##}
{#                    <li>#}
{#                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">#}
{#                            <i class="fs-4 bi-speedometer2"></i> <span#}
{#                                class="ms-1 d-none d-sm-inline">Подразделения</span> </a>#}
{#                        <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">#}
{#                            {% departament_menu %}#}
{#                        </ul>#}
{#                    </li>#}
{#                </ul>#}
{#                <hr>#}
{#                <!-- нижнее дополнительное меню -->#}
{#                <div class="dropdown pb-4 mt-auto">#}
{#                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"#}
{#                       id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">#}
{#                        <img src="{{ profile.image.url }}" alt="employee" width="30" height="30"#}
{#                             class="rounded-circle">#}
{#                        <span class="d-none d-sm-inline mx-1">{{ profile.name }}</span>#}
{#                    </a>#}
{#                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">#}
{#                        <li><a class="dropdown-item" href="{% url 'user:edit-profile' %}">Настройки</a></li>#}
{#                        <li><a class="dropdown-item" href="{% url 'user:profile' %}">Профиль</a></li>#}
{#                        <li>#}
{#                            <hr class="dropdown-divider">#}
{#                        </li>#}
{#                        <li><a class="dropdown-item" href="{% url 'user:logout' %}">Выйти</a></li>#}
{#                    </ul>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}


{#{% block css %}#}
{#    <link href="{% static 'company/css/navbar.css' %}" type="text/css" rel="stylesheet">#}
{##}
{#{% endblock %}#}
{#<!--Main Navigation-->#}
{##}
{#<!-- Sidebar -->#}
{#<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">#}
{#    <div class="position-sticky">#}
{#        <div class="list-group list-group-flush mx-3 mt-4">#}
{#            <a href="{% url 'company:home' %}"#}
{#               class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">#}
{#                <span class="fs-5 d-none d-sm-inline">СервисПроект</span>#}
{#            </a>#}
{#            <!-- элементы меню -->#}
{#            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">#}
{#                <li class="nav-item">#}
{#                    <a href="#" class="nav-link align-middle px-0">#}
{#                        <i class="fs-4 bi-house"></i>#}
{#                        <span class="ms-1 d-none d-sm-inline">Главная</span>#}
{#                    </a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#" class="nav-link px-0 align-middle">#}
{#                        <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Все Сотрудники</span>#}
{#                    </a>#}
{#                </li>#}
{##}
{#                <li>#}
{#                    <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">#}
{#                        <i class="fs-4 bi-speedometer2"></i> <span#}
{#                            class="ms-1 d-none d-sm-inline">Подразделения</span> </a>#}
{#                    <ul class="collapse nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">#}
{#                        {% departament_menu %}#}
{#                    </ul>#}
{#                </li>#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
{#</nav>#}
{#<!-- Sidebar -->#}
{##}
{#<!-- Navbar -->#}
{#<nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">#}
{#    <!-- Container wrapper -->#}
{#    <div class="container-fluid">#}
{#        <!-- Toggle button -->#}
{#        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu"#}
{#                aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">#}
{#            <i class="fas fa-bars"></i>#}
{#        </button>#}
{##}
{#        <form class="d-none d-md-flex input-group w-auto my-auto">#}
{#            <input autocomplete="off" type="search" class="form-control rounded"#}
{#                   placeholder='Search (ctrl + "/" to focus)' style="min-width: 225px;"/>#}
{#            <span class="input-group-text border-0"><i class="fas fa-search"></i></span>#}
{#        </form>#}
{##}
{#        <!-- Right links -->#}
{#        <ul class="navbar-nav ms-auto d-flex flex-row">#}
{#            <!-- Avatar -->#}
{#            <li class="nav-item dropdown">#}
{#                <a class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center" href="#"#}
{#                   id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">#}
{#                    <img src="{{ profile.image.url }}" class="rounded-circle"#}
{#                         height="22" alt="Avatar" loading="lazy"/>#}
{#                </a>#}
{#                <ul class="dropdown-menu dropdown-menu-dark">#}
{#                    <li><a class="dropdown-item" href="{% url 'user:profile' %}">Профиль</a></li>#}
{#                    <li><a class="dropdown-item" href="{% url 'user:edit-profile' %}">Настройка</a></li>#}
{#                    <li><a class="dropdown-item" href="{% url 'user:logout' %}">Выйти</a></li>#}
{#                </ul>#}
{#            </li>#}
{#        </ul>#}
{#    </div>#}
{#</nav>#}
<!-- Navbar -->


<!--Main layout-->
{#<main style="margin-top: 58px;">#}
{#    <div class="container pt-4"></div>#}
{#</main>#}
<!--Main layout-->


{#<header class="py-3 mb-4 border-bottom shadow">#}
{#    <div class="container-fluid align-items-center d-flex">#}
{#        <div class="flex-shrink-1">#}
{#            <a href="#" class="d-flex align-items-center col-lg-4 mb-2 mb-lg-0 link-dark text-decoration-none">#}
{#                <i class="bi bi-bootstrap fs-2 text-dark"></i>#}
{#            </a>#}
{#        </div>#}
{#        <div class="flex-grow-1 d-flex align-items-center">#}
{#            <form class="w-100 me-3">#}
{#                <input type="search" class="form-control" placeholder="Поиск...">#}
{#            </form>#}
{#            <div class="flex-shrink-0 dropdown">#}
{#                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">#}
{#                    <img src="https://via.placeholder.com/28?text=!" alt="user" width="32" height="32" class="rounded-circle">#}
{#                </a>#}
{#                <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="dropdownUser2" style="">#}
{#                    <li><a class="dropdown-item" href="#">New project...</a></li>#}
{#                    <li><a class="dropdown-item" href="#">Settings</a></li>#}
{#                    <li><a class="dropdown-item" href="#">Profile</a></li>#}
{#                    <li>#}
{#                        <hr class="dropdown-divider">#}
{#                    </li>#}
{#                    <li><a class="dropdown-item" href="#">Sign out</a></li>#}
{#                </ul>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</header>#}
{#<div class="container-fluid pb-3 flex-grow-1 d-flex flex-column flex-sm-row overflow-auto">#}
{#    <div class="row flex-grow-sm-1 flex-grow-0">#}

<aside class="col-sm-3 flex-grow-sm-1 flex-shrink-1 flex-grow-0 sticky-top pb-sm-0 pb-3">
    <div class="bg-dark border rounded-3 p-1 min-vh-100 sticky-top">
        <ul class="nav nav-pills flex-sm-column flex-row mb-auto justify-content-between text-truncate">
            <li class="nav-item">
                <a href="{% url 'company:list-employee' %}" class="nav-link px-2 text-truncate">
                    <i class="bi bi-house fs-5"></i>
                    <span class="d-none d-sm-inline text-light">Главная</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'company:list-employee' %}" class="nav-link px-2 text-truncate">
                    <i class="bi bi-house fs-5"></i>
                    <span class="d-none d-sm-inline text-light">Все сотрудники</span>
                </a>
            </li>
            <li>
                <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                    <i class="fs-4 bi-speedometer2"></i> <span
                        class="ms-1 d-none d-sm-inline text-light">Подразделения</span> </a>
                <ul class="collapse nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                    {% departament_menu %}
                </ul>
            </li>
        </ul>
    </div>
</aside>
