{% load static %}
{% load department_menu %}

<nav class="col-sm-2 1 d-flex flex-column">
    <div class="bg-inherit border rounded-3 p-1 min-vh-100 sticky-top ">
        <ul class="nav flex-column  flex-row mb-auto justify-content-between overflow-auto">
            <li class="nav-item">
                <a href="{% url 'company:main-employee' %}" class="nav-link px-2 text-truncate">
                    <i class="bi bi-house fs-5"></i>
                    <span class="d-none d-sm-inline text-dark">Главная</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'company:list-employee-all' %}" class="nav-link px-2 text-truncate">
                    <i class="bi bi-house fs-5"></i>
                    <span class="d-none d-sm-inline text-dark">Все сотрудники</span>
                </a>
            </li>
            <li>
                <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                    <i class="fs-4 bi-speedometer2"></i> <span
                        class="ms-1 d-none d-sm-inline text-dark">Подразделения</span> </a>
                <ul class="collapse nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                    {% departament_menu %}
                </ul>
            </li>
        </ul>
    </div>
</nav>
