<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{ form }}
<form id="employee-form">
    <input type="text" id="level" name="level" placeholder="Level">
    <input type="text" id="manager" name="manager" placeholder="Manager">
    <input type="text" id="position" name="position" placeholder="Position">
    <input type="text" id="email" name="email" placeholder="Email">
    <input type="text" id="salary" name="salary" placeholder="Salary">
    <button type="submit" id="submit">Submit</button>
</form>
</body>
</html>