{% extends 'base/base.html' %}
{% load static %}
{% block css %}
    <link href="{% static 'company/css/index.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container  mt-4 p-4 alert">
        <div class="row">
            <div class="col-xl-12 mt-5">
                <div class="card  shadow p-3 mb-5 bg-body  rounded border-success" style="max-width:1400px;">
                    <div class="row card-header mb-5 align-items-center border-success shadow">
                        <div class="col-md-4">
                            <a class="btn" href="javascript:history.go(-1)"><img
                                    src="{% static 'company/svg/back-arrow.svg' %}" width="35" height="30"
                                    alt="Назад"></a>
                        </div>
                        <div class="col-md-4">
                            <h3 class="font-weight-light my-3">
                                Редактировать данные
                            </h3>
                        </div>
                    </div>
                    <form class="row g-3 needs-validation" action="{% url 'company:edit-employee' employee.id %}"
                          method="post"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_div }}
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-success btn-sm mr-auto shadow" type="submit">Сохранить изменения
                            </button>
                        </div>
                </div>

                </form>
            </div>
        </div>
    </div>
    </div>
{% endblock %}