{% extends 'base/base.html' %}
{% load static %}
{##}
{% block css %}
{#    <link href="{% static 'company/css/index.css' %}" rel="stylesheet">#}
{% endblock %}


{% block content %}
        {% include 'block/navbar.html' %}
        <section>
        <div class="container">

            <div class="row">
                <div class="col-lg-3">
                    <h1 class="text-light mt-5">Добро пожаловать</h1>
                    <button id="start-purchase-btn" type="button" class="btn btn-lg btn-success">
                        <a id="start-purchase-link" href="{% url 'user:login' %}">
                            Войти
                        </a>
                    </button>
                </div>
{#                <h2 class="text-warning" id="date"></h2>#}
{#                <h2 class="text-warning" id="clock"></h2>#}
            </div>
        </div>
    </section>
   {% block script %}
{#        <script type="module" src="{% static 'company/js/index.js' %}"></script>#}
    {% endblock %}
{% endblock %}

