{% extends 'base/base.html' %}
{% load static %}
{% load mptt_tags %}

{% block content %}
    {% block css %}
        <link href="{% static 'company/css/employee.css' %}" type="text/css" rel="stylesheet">
    {% endblock %}
    {% include 'block/header.html' with request=request %}
    <div class="container-fluid pb-3 flex-grow-1 d-flex flex-column overflow-auto">
        <div class="row flex-grow-sm-1 flex-grow-0">
            {% include 'block/navbar.html' %}
            <main class="col overflow-auto h-100">
                <h3>{{ title }}</h3>
                <span>Участников:{{ count_nodes }}</span>
                <div class="row">
                    {% for node in nodes %}
                        <div class="col-md-6 mb-4">

                            <div class="card p-2 border border-success shadow h-100">

                                <div class=" p-2 d-flex align-items-center">

                                    <div class="image">
                                        <img src="{{ node.name.image.url }}"
                                             class="rounded" width="150" alt="Profile Photo">
                                    </div>

                                    <div class=" p-2 w-100">

                                        <h4 class="mb-2 mt-0">{{ node.name.short_name }}</h4>
                                        <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                                            <div class="d-flex flex-column">
                                                <span class="experience">Стаж</span>
                                                <span class="number1">{{ node.hire_date|date:'d.m.Y' }}</span>
                                            </div>
                                            <div class="d-flex flex-column">
                                                <span class="profession">Профессия:</span>
                                                <span class="number1">{{ node.position }}</span>
                                            </div>
                                        </div>

                                        <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">

                                            <div class="d-flex flex-column">

                                                <span class="articles">Возраст</span>
                                                <span class="number1">{{ node.name.age }}</span>

                                            </div>

                                            <div class="d-flex flex-column">

                                                <span class="followers">Пол</span>
                                                <span class="number2">{{ node.name.get_gender_display|slice:':1' }}</span>

                                            </div>


                                            <div class="d-flex flex-column">

                                                <span class="rating">Уровень</span>
                                                <span class="number3">{{ node.level }}</span>

                                            </div>

                                        </div>
                                        <div class="button mt-2 d-flex flex-row justify-content-md-around">

                                            <a href="{% url 'user:profile' node.name.id %}"
                                               class="btn btn-sm btn-outline-success shadow">
                                                Профиль
                                            </a>
                                            {% if employee.get_parent.id == request.user.profile.employee_set.first.id %}
                                                <a class="btn btn-outline-danger btn-sm"
                                                   href="{% url 'company:delete-employee' node.id %}">
                                                    Удалить
                                                </a>
                                            {% else %}
                                                <a class="btn btn-danger btn-sm disabled"
                                                   aria-roledescription="disable"
                                                   href="#">
                                                    Удалить
                                                </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    {% endfor %}
                </div>
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        {% if nodes.has_previous %}
                            <li class="page-item">
                                <a class="page-link border-success shadow" href="?page=1" aria-label="First">
                                    <span aria-hidden="true">&laquo;&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link border-success shadow" href="?page={{ nodes.previous_page_number }}"
                                   aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {% endif %}
                        {% for i in custom_range %}
                            <li class="page-item {% if nodes.number == i %}active{% endif %}">
                                <a class="page-link border-success shadow" href="?page={{ i }}">{{ i }}</a>
                            </li>
                        {% endfor %}
                        {% if nodes.has_next %}
                            <li class="page-item">
                                <a class="page-link border-success shadow" href="?page={{ nodes.next_page_number }}"
                                   aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link border-success shadow" href="?page={{ nodes.paginator.num_pages }}"
                                   aria-label="Last">
                                    <span aria-hidden="true">&raquo;&raquo;</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>


            </main>
        </div>
    </div>
{% endblock %}
