{% extends 'base/base.html' %}
{% load static %}
{% load mptt_tags %}

{% block content %}
        {% include 'block/header.html' with request=request %}
    <div class="container-fluid pb-3 flex-grow-1 d-flex flex-column overflow-auto">
        <div class="row flex-grow-sm-1 flex-grow-0">
            {% include 'block/navbar.html' %}
            <main class="col overflow-auto h-100">
    <h3>Сотрудники</h3>
    <ul>
        {% recursetree nodes %}
            <li class="table table-success table-striped">
                <a class="btn btn__dark" href="{% url 'company:list-employee-id' node.level %}">
                    {{ node.name.full_name }}
                    {{ node.position }}
                    {{ node.salary }}
                </a>
                {% if node.is_root_node %}
                        {% if not node.is_leaf_node %}
                            <ul class="children">
                                {{ children }}
                            </ul>
                    {% endif %}
                {% else %}
                    {% if not node.is_leaf_node %}
                        {% if current_employee.id == node.id %}
                            <ul class="children">
                                {{ children }}
                            </ul>
                        {% elif node.level < current_employee.level %}
                            <ul class="children">
                                {{ children }}
                            </ul>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </li>
        {% endrecursetree %}
    </ul>
            </main>
        </div>
    </div>
{% endblock %}
