{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <div class="container d-flex mt-4 p-4">
        <div class="row">
            <div class="col-xl-12 mt-5">
                <div class="card  shadow p-3 mb-5 bg-body rounded" style="max-width:1400px;">
                    <form class="row g-3 needs-validation" action="{% url 'user:edit-profile' %}" method="post"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="col-md-3">
                            <img src="{{ forms.image.url }}"
                                 class="img-fluid rounded-start" alt="images">
                        </div>

                        <div class="col-md-3">
                            <label for="validationCustom02" class="form-label">Фамилия</label>
                            <input type="text" class="form-control" id="validationCustom02"
                                   value="{{ forms.last_name.value }}" required>
                        </div>
                        <div class="col-md-3">
                            <label for="validationCustom01" class="form-label">Имя</label>
                            <input type="text" class="form-control" id="validationCustom01"
                                   value="{{ forms.name.value }}" required>
                        </div>
                        <div class="col-md-3">
                            <label for="validationCustom01" class="form-label">Отчество</label>
                            <input type="text" class="form-control" id="validationCustom01"
                                   value="{{ forms.middle_name.value }}" required>
                        </div>
                        <div class="col-md-3">
                            <label for="male2" class="form-label">Пол</label>
                            {{ forms.gender }}
                        </div>
                        <div class="col-md-3">
                            <label for="inputDate" class="form-label">Дата рождения</label>
                            <input type="date" class="form-control" id="validationCustom01"
                                   value="{{ forms.date_of_bth.value|date:'Y-m-d' }}">
                        </div>
                        <div class="col-md-3">
                            <label for="inputDate" class="form-label">Телефон</label>
                            <input type="tel" class="form-control" id="validationCustom01"
                                   value="{{ forms.phone.value }}">
                        </div>
                        <div class="col-md-3">
                            <label for="inputDate" class="form-label">Место проживания</label>
                            <input type="tel" class="form-control" id="validationCustom01"
                                   value="{{ forms.city.value }}">
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary" type="submit">Применить изменения</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}