{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <div class="container d-flex mt-4 p-4">
        <div class="row">
            <div class="col-xl-12 mt-5">
                <div class="card  shadow p-3 mb-5 bg-body rounded" style="max-width:1400px;">
                    <form class="row g-3 needs-validation" action="{% url 'user:edit-profile' %}" method="post"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="col-md-3">
                            <img src="{{ forms.image.url }}"
                                 class="img-fluid rounded-start" alt="images">
                        </div>

                        <div class="col-md-3">
                            <label for="validationCustom02" class="form-label">Фамилия</label>
                            <input type="text" class="form-control" id="validationCustom02"
                                   value="{{ forms.last_name.value }}" required>
                        </div>
                        <div class="col-md-3">
                            <label for="validationCustom01" class="form-label">Имя</label>
                            <input type="text" class="form-control" id="validationCustom01"
                                   value="{{ forms.name.value }}" required>
                        </div>
                        <div class="col-md-3">
                            <label for="validationCustom01" class="form-label">Отчество</label>
                            <input type="text" class="form-control" id="validationCustom01"
                                   value="{{ forms.middle_name.value }}" required>
                            <div class="col-md-6">
                                <label for="male2" class="form-label">Пол</label><br>
                                <input type="radio" id="male2" name="gender" value="male">
                                <label for="male2">Мужской</label><br>

                                <input type="radio" id="female2" name="gender" value="female">
                                <label for="female2">Женский</label>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="validationCustom01" class="form-label">Дата рождения</label>
                            <input type="text" class="form-control" id="validationCustom01"
                                   value="{{ forms.date_of_bth.value }}" required>
                        </div>

                        <div class="col-12">
                            <button class="btn btn-primary" type="submit">Применить изменения</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {#  <div class="container">#}
    {#    <div class="row">#}
    {#      <div class="col-md-6 mx-auto">#}
    {#        <h2>Edit Profile</h2>#}
    {#        <form method="post" enctype="multipart/form-data">#}
    {#          {% csrf_token %}#}
    {#          <div class="form-group">#}
    {#            <label for="{{ forms.name.id_for_label }}">Name</label>#}
    {#            {{ forms.name }}#}
    {#          </div>#}
    {#          <div class="form-group">#}
    {#            <label for="{{ forms.middle_name.id_for_label }}">Middle Name</label>#}
    {#            {{ forms.middle_name }}#}
    {#          </div>#}
    {#          <div class="form-group">#}
    {#            <label for="{{ forms.last_name.id_for_label }}">Last Name</label>#}
    {#            {{ forms.last_name }}#}
    {#          </div>#}
    {#          <div class="form-group">#}
    {#            <label for="{{ forms.image.id_for_label }}">Image</label>#}
    {#            {{ forms.image }}#}
    {#          </div>#}
    {#          <div class="form-group">#}
    {#            <label for="{{ forms.gender.id_for_label }}">Gender</label>#}
    {#            {{ forms.gender }}#}
    {#          </div>#}
    {#          <div class="form-group">#}
    {#            <label for="{{ forms.date_of_bth.id_for_label }}">Date of Birth</label>#}
    {#            {{ forms.date_of_bth. }}#}
    {#          </div>#}
    {#          <div class="form-group">#}
    {#            <label for="{{ forms.phone.id_for_label }}">Phone</label>#}
    {#            {{ forms.phone }}#}
    {#          </div>#}
    {#          <div class="form-group">#}
    {#            <label for="{{ forms.city.id_for_label }}">City</label>#}
    {#            {{ forms.city }}#}
    {#          </div>#}
    {#          <button type="submit" class="btn btn-primary">Save</button>#}
    {#        </form>#}
    {#      </div>#}
    {#    </div>#}
    {#  </div>#}
{% endblock %}